@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background: #242424 url("../images/background-image.webp") no-repeat center/cover;
}

.container {
    height: 650px;
    width: 480px;
    background: linear-gradient(#0c2264, #081743, #081743);
    border-radius: 20px;
}

/* Choices Part */
.text-container {
    margin-top: 20px;
}

.game-text {
    color: azure;
    position: relative;
    padding: 30px 30px 30px 80px;
    margin-bottom: 30px;
    font-size: 20px;
}

/* Buttons Part */
.btn-container {
    display: flex;
    justify-content: space-evenly;
}

/* Added some styles from the https://codepen.io/HighFlyer/pen/WNXRZBv */
button {
    position: relative;
    height: 100px;
    padding: 25px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: #081743;
    color: #288cff;
    font-weight: bold;
    letter-spacing: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
}

@keyframes mymove {
    50% {
        box-shadow: none;
    }
}

button:hover {
    background: #288cff;
    color: #081743;
    box-shadow: 0 0 5px #288cff,
        0 0 25px #288cff,
        0 0 50px #288cff,
        0 0 200px #288cff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#paper {
    color: rgb(97, 255, 83);
}

#paper:hover {
    background: rgb(97, 255, 83);
    color: #081743;
    box-shadow: 0 0 5px rgb(97, 255, 83),
        0 0 25px rgb(97, 255, 83),
        0 0 50px rgb(97, 255, 83),
        0 0 200px rgb(97, 255, 83);
}

#scissors {
    color: rgb(253, 80, 80);
}

#scissors:hover {
    background: rgb(253, 80, 80);
    color: #081743;
    box-shadow: 0 0 5px rgb(253, 80, 80),
        0 0 25px rgb(253, 80, 80),
        0 0 50px rgb(253, 80, 80),
        0 0 200px rgb(253, 80, 80);
}

.btn-container i {
    font-size: 4em;
}

/* Result Part */
.result-container {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    margin-top: 90px;
}

.game-result {
    color: azure;
    position: relative;
}

.correct {
    color: rgb(0, 255, 0);
}

.incorrect {
    color: red;
}

.round {
    color: rgb(210, 150, 30);
}