@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background: #242424 url("../images/background-image.webp") no-repeat center/cover;
}

.container {
    height: 650px;
    width: 480px;
    background: linear-gradient(#0c2264, #081743, #081743);
    border-radius: 20px;
}

/* Landing page */
#starting-view {
    display: flex;
}

#username {
    width: 100%;
    padding: 20px;
    margin: 35px 40px;
    border-radius: 30px;
    border: none;
    outline: none;
    background: rgb(144 190 255);
    color: #0b205e;
    font-size: 20px;
}

#username::placeholder {
    color: #0b205e;
}

/* Option buttons */
#bo1,
#bo3,
#bo5 {
    padding: 0;
    margin: 0;
    width: 80px;
    height: 80px;
    background: linear-gradient(#0a1d55, #0a1c52, #0a1c50);
}

#bo1:hover {
    background: #288cff;
    color: #081743;
    box-shadow: 0 0 5px #288cff,
        0 0 25px #288cff,
        0 0 50px #288cff,
        0 0 200px #288cff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#bo3 {
    color: rgb(97, 255, 83);
}

#bo3:hover {
    background: rgb(97, 255, 83);
    color: #081743;
    box-shadow: 0 0 5px rgb(97, 255, 83),
        0 0 25px rgb(97, 255, 83),
        0 0 50px rgb(97, 255, 83),
        0 0 200px rgb(97, 255, 83);
}

#bo5 {
    color: rgb(253, 80, 80);
}

#bo5:hover {
    background: rgb(253, 80, 80);
    color: #081743;
    box-shadow: 0 0 5px rgb(253, 80, 80),
        0 0 25px rgb(253, 80, 80),
        0 0 50px rgb(253, 80, 80),
        0 0 200px rgb(253, 80, 80);
}

/* Rules */
.rules-container {
    color: #ffba00;
    display: block;
    margin: 40px;
    border: 1px outset #ffa600;
    border-radius: 20px;
    background: #191919;
    padding: 15px 35px;
    opacity: 0.7;
}

/* Start Button */
:root {
    --glow-color: rgb(249, 154, 52);
}

.glowing-btn {
    position: relative;
    left: 85px;
    /* margin-top: 300px; */
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1em;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn:hover .glowing-txt {
    animation: none;
}

.glowing-btn:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .glowing-btn {
        font-size: 1em;
    }
}

/* Game has started */
/* Choices Part */
.text-container {
    margin-top: 20px;
}

#text-container {
    /* display: none; */
}

.game-text {
    color: azure;
    position: relative;
    padding: 30px 30px 30px 80px;
    margin-bottom: 30px;
    font-size: 20px;
}

.fa-thumbs-up {
    color: rgb(10, 251, 10);
}

.fa-thumbs-down {
    color: red;
}

.fa-handshake {
    color: rgb(255, 183, 0);
}

.text-container span {
    padding-left: 20px;
}

/* Buttons Part */
.btn-container {
    display: flex;
    justify-content: space-evenly;
}

#btn-container {
    /* display: none; */
}

/* Added some styles from the https://codepen.io/HighFlyer/pen/WNXRZBv */
.btn-container button {
    position: relative;
    height: 100px;
    padding: 25px;
    margin: 20px;
    border: none;
    border-radius: 5px;
    background-color: #081743;
    color: #288cff;
    font-weight: bold;
    letter-spacing: 4px;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s;
}

@keyframes mymove {
    50% {
        box-shadow: none;
    }
}

.btn-container button:hover {
    background: #288cff;
    color: #081743;
    box-shadow: 0 0 5px #288cff,
        0 0 25px #288cff,
        0 0 50px #288cff,
        0 0 200px #288cff;
    -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
}

#paper {
    color: rgb(97, 255, 83);
}

#paper:hover {
    background: rgb(97, 255, 83);
    color: #081743;
    box-shadow: 0 0 5px rgb(97, 255, 83),
        0 0 25px rgb(97, 255, 83),
        0 0 50px rgb(97, 255, 83),
        0 0 200px rgb(97, 255, 83);
}

#scissors {
    color: rgb(253, 80, 80);
}

#scissors:hover {
    background: rgb(253, 80, 80);
    color: #081743;
    box-shadow: 0 0 5px rgb(253, 80, 80),
        0 0 25px rgb(253, 80, 80),
        0 0 50px rgb(253, 80, 80),
        0 0 200px rgb(253, 80, 80);
}

.btn-container i {
    font-size: 4em;
}

/* Result Part */
.result-container {
    display: flex;
    flex: row;
    justify-content: space-evenly;
    margin-top: 90px;
}

#result-container {
    /* display: none; */
}

.game-result {
    color: azure;
    position: relative;
}

.correct {
    color: rgb(0, 255, 0);
}

.incorrect {
    color: red;
}

.round {
    color: rgb(210, 150, 30);
}